
body {
 /* background-color: rgb(241,225,217);*/
}


td {
  height: 75px;
  width: 75px;
}

/*.hit {
  background-color: red;
}
.miss {
  background-color: gray;
}*/
.open {
  background-color: transparent;
}