
body {
  margin: 0 auto;
  background-color: rgb(241,225,217);
}
td {

  height: 60px;
  width: 60px;
}

.hit {
  background-color: red;
  opacity: .8;
}
.miss {
  background-color: gray;
  opacity: .8;
}
.open {
  background-color: transparent;
  cursor: pointer;
}
/*  border-color: black;
  border-radius: 3px;*/