body {
  margin: 0 auto;
  background-color: rgb(241,225,217);
}

td {
  height: 60px;
  width: 60px;
}

.hit {
  background-color: red;
  opacity: .7;
}

.miss {
  background-color: blue;
  opacity: .7;
}

.open {
  background-color: transparent;
  cursor: pointer;
}

#message {
  font-size: 68px;
  text-align: center;
}

#message1 {
  font-size: 68px;
  text-align: center;
}
